<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python7am</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--========top header section ===============-->
<div class="top-header-section">
    <div class="container">
        <div class="top-main-section">
            <div class="left-section">
                <ul>
                    <li><a href="">Welcome to Python7am</a></li>
                    <li><a href="">Info@python7am.com</a></li>
                </ul>
            </div>
            <div class="right-section">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--========End top header section ===============-->

<!--===========header section===================-->
<div class="header-section">
    <div class="container">
        <div class="main-header-section">
            <div class="logo">
                <img src="./logo/logo.png" alt="">
            </div>
            <div class="company-name">
                <h1>Python & Django</h1>
            </div>
            <div class="search-box">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter any keywords">
                </div>
                <div class="btn-group">
                    <button class="btn-success">Search</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--===========end header section===================-->

<!--===========menu section =========-->
<div class="menu-section">
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">course</a></li>
                <li><a href="">faq</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </div>
    </div>
</div>
<!--===========menu end=========-->
<!--========slider section==============-->
<div class="slider-section">
    <img src="images/s1.jpg" alt="">

    <div class="intro-text">
        <h1>Pokhara</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium adipisci aliquam aut distinctio dolore
            doloribus exercitationem facere nihil qui repellendus.
            Ad eveniet facere illo minus
            nobis pariatur voluptas! Esse, natus.
        </p>
    </div>

</div>
<!--========end slider section==============-->

<!--============course section ==================-->
<div class="course-section">
    <div class="container">
        <div class="course-main-section">
            <div class="course-box">
                <div class="course-image">

                </div>
                <div class="course-title">

                </div>
                <div class="course-intro-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi deserunt enim ipsam ipsum nemo omnis rerum! Adipisci cumque dolores eos, error,
                        excepturi laborum pariatur porro quae, quis totam ullam veniam?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============course section ==================-->


</body>
</html>